<% layout('layouts/boiler') -%>
  <div class="container-fluid h100 whole">
    <div class="row h100 justify-content-center">
      <h1>MIK3</h1>
    </div>
    <div class="row">
      <div class="col tag text-center">
        <span><i class="fas fa-server"></i> Running on a Raspberry Pi in my Home</span>
      </div>
    </div>
  </div>
